html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    
}

button {
    background: rgb(225,225,225);
    border: none;
    border-radius: 30px;
    outline: none;
    
    font-family: 'Tahoma', sans-serif;
    font-size: 15px;
    
    padding: 20px 30px;

    cursor: pointer;
}

button:hover{
    background: black;
    color: white;
}



#playerScoreDiv {
    position: fixed;
    color: white;
    padding: 20px;
    user-select: none;
}

#endMenu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#endMenu .menu {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;

    width: 30vw;
    height: 35vh;
}

#endMenu .menu h1, p, div {
    margin: 0;
}

#endMenu .menu h1 {
    font-size: 50px;
}

#endMenu .menu button {
    margin-top: 30px;
}








canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}






@media only screen 
  and (max-device-width: 500px) {
    #endMenu .menu {
        width: 50vw;
        height: 30vw;
    }
  }